/** {
    border: 1px solid blue;
}*/

html {
    font-size: 16px;
}

body {
    position: relative;
}

/* BANNER UTILITIES */

.navbar-brand {
    margin-left: 2rem;
}

/* HERO */

header {
    background-image: url(../images/photos/l-canyon-clouds.jpg);
    background-size: cover;
    background-position: center;
    min-height: 40rem;
}

/* NESTED NAVIGATION ELEMENT */

.sidebar {
    margin-left: 2rem;
    margin-top: 8rem;
}

.sidebar li a {
    color: white;
}

.navlink {
    padding: 2rem;
}

.sidebar a {
    display: block;
}

.sidebar a:hover {
    font-weight: bold;
    transition: .3s;
    color: white
}

.sidebar a:visited {
    font-weight: bold;
}

.sidebar li .submenu{ 
	list-style: none; 
	margin: 0; 
	padding: 0; 
	padding-left: 1rem; 
	padding-right: 1rem;
}

.fixed {
    position: fixed;
    display: block;
}

/* HEADER STYLING */

.hero {
    color: white;
    font-weight: lighter;
    font-size: 10rem;
    margin: 0;
    padding: 0;
}

h2 {
    font-weight: 300;
}

.eyebrow-light {
    border-bottom: 2px solid white;
    margin-bottom: 2rem;
}

.eyebrow-dark {
    border-bottom: 2px solid black;
    margin-bottom: 2rem;
}

/* FORM FIELD STYLING */

.form-control {
    border: none;
    border-bottom: 2px solid black;
    border-radius: 0%;
  }

  /* HOMEPAGE CONTENT */

.overlap-up {
    margin: -30rem;
}

.passing-lane {
    float: right;
}