/* {
    border: 1px solid blue;
} */

html {
    font-size: 16px;
}

body {
    position: relative;
}

a {
    text-decoration: none;
}

/* BANNER UTILITIES */

.navbar-brand {
    margin-left: 2rem;
}

/* HERO */

header {
    background-image: url(../images/photos/l-canyon-clouds.jpg);
    background-size: cover;
    background-position: center;
    min-height: 40rem;
}

/* NESTED NAV WHITE */

.sidebar {
    margin-left: 2rem;
    margin-top: 8rem;
    font-size: .9rem;
}

.sidebar li a {
    color: white;
    padding: .2rem;
}

.navlink {
    color: white;
}

.sidebar a {
    display: inline-block;
    text-decoration: none;
    color: white;
}

.sidebar a:hover {
    font-weight: bold;
    transition: .4s;
    color: white;
}

.sidebar a:visited {
    font-weight: bold;
    color: white;
}

.sidebar li .submenu{ 
	list-style-type: none; 
	margin: 0;
	padding: 0; 
	padding-left: 1rem; 
	padding-right: 1rem;
    color: white;
}

.sidebar ul {
    list-style-type: none;
}

.fixed {
    position: fixed;
    display: block;
}

.open {
    font-weight: bold;
}

/* NESTED NAV BLACK */

.black-side li a {
    color: black;
}

.black-side a:hover {
    font-weight: bold;
    transition: .4s;
    color: black;
}

.black-side a:visited {
    color: black;
}

.black-side a {
    display: inline-block;
    text-decoration: none;
    color: black;
}

/* HEADER STYLING */

.hero {
    color: white;
    font-weight: lighter;
    font-size: 10rem;
    margin: 0;
    padding: 0;
}

h2 {
    font-weight: 300;
    margin-bottom: 0;
    padding-bottom: .2rem;
}

.eyebrow-light {
    border-bottom: 1px solid white;
}

.eyebrow-dark {
    border-bottom: 1px solid black;
}

.topbrow-dark {
    border-top: 1px solid black;
}

/* FORM FIELD STYLING */

.form-control {
    border: none;
    border-bottom: 1px solid black;
    border-radius: 0%;
}

.qty {
    max-width: 9rem;
}

/* CARD STYLING */

.stretched-link {
    text-decoration: none;
    color: black;
}

/* FILTER STYLES */

.form-check {
    padding: .5rem;
}

.filter-core {
    font-weight: 400;
}

.filter-count {
    font-weight: 300;
}

.filter-pack {
    font-style: italic;
    font-weight: 300;
    font-size: .8rem;
}

.offcanvas-body {
    position: relative;
}

.button-pair {
    position: fixed;
    top: 88%;
    width: 362px;
    height: 12rem;
    margin-left: auto;
    margin-right: auto;
    background: white;
}

.clunky-p {
    width: 100%;
    text-align: end;
}

#flexSwitchCheckDefault {
    margin-left: .4rem;
}

/* HOMEPAGE CONTENT */

.overlap-up {
    margin: -30rem;
}

.passing-lane {
    float: right;
}

/* LOUPE FEATURE */

* {
    box-sizing: border-box;
}

.img-magnifier-container {
  position: relative;
}

.img-magnifier-glass {
  position: absolute;
  border: 3px solid #000;
  border-radius: 50%;
  cursor: none;
  /*Set the size of the magnifier glass:*/
  width: 180px;
  height: 180px;
}

/* SAMPLE IMAGE GALLERY */

.gallery {
    display: block;
    position: relative;
}

.gallery:hover .thumb {
    opacity: .7;
}

.thumb {
    display: block;
    height: 100px;
    width: 12.5%;
    background: no-repeat center center;
    background-size: cover;
    transition: opacity 600ms;
}

.thumb.koi {
    background-image: url(../images/photos/l-koi.jpg);
}

.thumb.car {
    background-image: url(../images/photos/l-red-blossoms.jpg);
}

.thumb.records {
    background-image: url(../images/photos/l-record-store.jpg);
}

.thumb.signs {
    background-image: url(../images/photos/l-signs.jpg);
}

.gallery .thumb:hover {
    opacity: 1;
}

.thumb:before, .thumb:after {
    opacity: 0;
    width: 45%;
}

/* PRODUCT PAGE */

.price {
    font-size: 2rem;
}

/* Container needed to position the overlay. Adjust the width as needed */
.container-zoom {
    position: relative;
    width: 100%;
  }
  /* The overlay effect (full height and width) - lays on top of the container and over the image */
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background: rgba(0, 0, 0, 0.5);
  }
  /* When you mouse over the container, fade in the overlay icon*/
.container-zoom:hover .overlay {
    opacity: 1;
  }
  /* The icon inside the overlay is positioned in the middle vertically and horizontally */
.zoom-icon {
    color: white;
    font-size: 1.2em;
    position: absolute;
    top: 95%;
    left: 12%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
.loupe-icon {
    color: white;
    font-size: 1.2em;
    position: absolute;
    top: 95%;
    left: 35%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  /* When you move the mouse over the icon, change color */
.fa-user:hover {
    color: #eee;
  }

/* OVERLAY FOR WHITE SEAMLESS PROD PICS */

.container-zoom {
    position: relative;
    width: 100%;
  }
  /* The overlay effect (full height and width) - lays on top of the container and over the image */
.overlay-clear {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background: rgba(0, 0, 0, 0);
  }
  /* When you mouse over the container, fade in the overlay icon*/
.container-zoom:hover .overlay-clear {
    opacity: 1;
  }
  /* The icon inside the overlay is positioned in the middle vertically and horizontally */
.zoom-icon-clear {
    color: black;
    font-size: 1.1em;
    position: absolute;
    top: 95%;
    left: 12%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
.loupe-icon-clear {
    color: black;
    font-size: 1.1em;
    position: absolute;
    top: 95%;
    left: 35%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  /* When you move the mouse over the icon, change color */
.fa-user:hover {
    color: #eee;
  }

/* FOOTER STYLING */

footer {
    color: white;
}

footer ul {
    list-style-type: none;
}

.site-map li {
    font-size: .8rem;
    padding: .4rem;
}

/* HOVER CARDS */

.sample-image1a {
    background-image: url('../images/products/35-5.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.sample-image2a {
    background-image: url('../images/products/35-9.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.sample-image3a {
    background-image: url('../images/products/sheet-3.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.sample-image4a {
    background-image: url('../images/products/35-17.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.sample-image1b {
    background-image: url('../images/products/120-8.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.sample-image2b {
    background-image: url('../images/products/35-13.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.sample-image3b {
    background-image: url('../images/products/insta-2.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.sample-image4b {
    background-image: url('../images/products/120-5.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.sample-image1c {
    background-image: url('../images/products/35-7.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.sample-image2c {
    background-image: url('../images/products/120-7.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.sample-image3c {
    background-image: url('../images/products/35-10.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.sample-image4c {
    background-image: url('../images/products/120-1.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.sample-image1d {
    background-image: url('../images/products/sheet-1.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.sample-image2d {
    background-image: url('../images/products/35-16.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.sample-image3d {
    background-image: url('../images/products/35-3.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.sample-image4d {
    background-image: url('../images/products/35-18.png');
    background-repeat: no-repeat;
    background-size: cover;
}

/* TEST CARDS */

.sample-image-task1a {
    background-image: url('../images/task1-bw/insta-3.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.sample-image-task1b {
    background-image: url('../images/task1-bw/120-5.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.sample-image-task1c {
    background-image: url('../images/task1-bw/35-2.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.sample-image-task1d {
    background-image: url('../images/task1-bw/35-13.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.sample-image-task2a {
    background-image: url('../images/products/120-10.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.sample-image-task2b {
    background-image: url('../images/task2-color/35-14.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

.sample-image-task2c {
    background-image: url('../images/task2-color/120-2.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.sample-image-task2d {
    background-image: url('../images/task2-color/sheet-3.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.sample-image-task2e {
    background-image: url('../images/products/120-9.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.image-fade {
    opacity: 0;
    transition-duration: 1s;
}

.image-fade:hover {
    opacity: 1;
}

.plain-link {
    text-decoration: none;
    color: black;
}

.card-footer {
    background: white;
    border-top: none;
}

/* CUSTOMER REVIEWS */

.list-group-item {
    border: none;
}

#toggle1 {
    color: #0d6efd;
}

/* MODAL STYLINGS */
