/** {
    border: 1px solid blue;
}*/

html {
    font-size: 16px;
}

body {
    position: relative;
}

/* BANNER UTILITIES */

.navbar-brand {
    margin-left: 2rem;
}

/* HERO */

header {
    background-image: url(../images/photos/l-canyon-clouds.jpg);
    background-size: cover;
    background-position: center;
    min-height: 40rem;
}

/* NESTED NAV WHITE */

.sidebar {
    margin-left: 2rem;
    margin-top: 8rem;
}

.sidebar li a {
    color: white;
}

.navlink {
    padding: 2rem;
    color: white;
}

.sidebar a {
    display: block;
    color: white;
}

.sidebar a:hover {
    font-weight: bold;
    transition: .3s;
    color: white;
}

.sidebar a:visited {
    font-weight: bold;
    color: white;
}

.sidebar li .submenu{ 
	list-style: none; 
	margin: 0; 
	padding: 0; 
	padding-left: 1rem; 
	padding-right: 1rem;
    color: white;
}

.fixed {
    position: fixed;
    display: block;
}

/* NESTED NAV BLACK */

.black-side li a {
    color: black;
}

.black-side a:hover {
    color: black;
}

.black-side a:visited {
    color: black;
}

/* HEADER STYLING */

.hero {
    color: white;
    font-weight: lighter;
    font-size: 10rem;
    margin: 0;
    padding: 0;
}

h2 {
    font-weight: 300;
    margin-bottom: 0;
    padding-bottom: .2rem;
}

.eyebrow-light {
    border-bottom: 2px solid white;
}

.eyebrow-dark {
    border-bottom: 2px solid black;
}

/* FORM FIELD STYLING */

.form-control {
    border: none;
    border-bottom: 2px solid black;
    border-radius: 0%;
}

.qty {
    /*border: solid red 1px;*/
    max-width: 9rem;
}

/* CARD STYLING */

.stretched-link {
    text-decoration: none;
    color: black;
}

/* HOMEPAGE CONTENT */

.overlap-up {
    margin: -30rem;
}

.passing-lane {
    float: right;
}

/* LOUPE FEATURE */

* {
    box-sizing: border-box;
}

.img-magnifier-container {
  position: relative;
}

.img-magnifier-glass {
  position: absolute;
  border: 3px solid #000;
  border-radius: 50%;
  cursor: none;
  /*Set the size of the magnifier glass:*/
  width: 100px;
  height: 100px;
}

/* SAMPLE IMAGE GALLERY */

.gallery {
    display: block;
    position: relative;
}

.gallery:hover .thumb {
    opacity: .7;
}

.thumb {
    display: block;
    height: 100px;
    width: 12.5%;
    background: no-repeat center center;
    background-size: cover;
    transition: opacity 600ms;
}

.thumb.koi {
    background-image: url(../images/photos/l-koi.jpg);
}

.thumb.car {
    background-image: url(../images/photos/l-red-blossoms.jpg);
}

.thumb.records {
    background-image: url(../images/photos/l-record-store.jpg);
}

.thumb.signs {
    background-image: url(../images/photos/l-signs.jpg);
}

.gallery .thumb:hover {
    opacity: 1;
}

.thumb:before, .thumb:after {
    opacity: 0;
    width: 45%;
}

/* FOOTER STYLING */

footer {
    color: white;
}